
@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Fraunces";
    src: url(./fonts/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Regular.ttf);
        font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: "Barlow";
    src: url(./fonts/Barlow-Italic.ttf);
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
}


$font-Fraunces: "Fraunces";
$font-Barlow: "Barlow";


body {

}